__pycache__
dist/
site/
*.egg-info/
wandb/*
.DS_Store
.idea/*
coperception/.DS_Store
coperception/.idea/
coperception/datasets/.DS_Store
coperception/models/.DS_Store
coperception/models/det/.DS_Store
coperception/utils/.DS_Store
coperception/utils/mapping/dynamic_library/mapping.so
coperception/utils/mapping/mapping.cpython-311-darwin.so
train
test
tools/track/TrackEval/V2X-Sim-track.zip
docs/assets/images/disconet.png
docs/assets/images/when2com.png
coperception/utils/mapping/mapping.cpython-37m-x86_64-linux-gnu.so
docs/assets/images/v2vnet.png
coperception/utils/mapping/mapping.cp37-win_amd64.pyd
tools/det/wandb/*